name: Issues

on:
  issues:
    types: [opened]

jobs:
  assignAuthor:
    name: Assign author to issue
    if: ${{ !contains(fromJson('["renovate[bot]", "dependabot[bot]"]'), github.actor) }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Assign author to issue
        uses: actions/github-script@v7
        with:
          script: |
            const issueNumber = context.issue.number;
            const assignees = [context.actor];
            await github.rest.issues.addAssignees({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: issueNumber,
              assignees: assignees
            });
