name: Auto Assign Issue Creator # ワークフローの名前

on:
  issues:
    types: [opened] # 新しい Issue が作成されたときにトリガー

jobs:
  auto_assign:
    runs-on: ubuntu-latest # 最新のUbuntu環境で実行
    permissions:
      issues: write # Issue に対して書き込み権限を持つ
    steps:
      - name: Assign author to issue # steps の名前
        # actions/github-script アクションを使用
        uses: actions/github-script@v7 
        with:
          # Issue にアサインされているユーザーがいない場合のみ実行
          # Issue にアサインするための GitHub API 呼び出し
          # リポジトリのオーナー（GitHub APIリクエストを実行するために必要な必須パラメータ）
          # リポジトリの名前（同上）
          # Issue の番号（同上）
          # Issue の作成者をアサイン
          script: |
            if (github.event.issues.assignees.length === 0) {
              github.rest.issues.addAssignees({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
                assignees: [context.actor]
              });
            }